{% block home_center_content %}
	<section
		class="video-a-la-une">
		<!-- Desc title -->
		<div class="title-desc">
			<div class="title-desc-avatar-container">
				<a href="">
					<img class="title-desc-avatar" alt="" src=" {{ asset ('assets/images/belle.jpg')}}"/>
					| Ali Baba

				</a>
			</div>
			<a href="#">title des ange en con egdgd Nous leur demandons pardons de pasitonner</a>
			<p class="descript">description des choses Lorem description des choses Lorem description des choses Lorem
			</p>


		</div>
		<!-- Video content-->
		<div class='player-container'>
			<div class='player'>

				<div id="overlay"></div>
				<div id="video-container vde">
					<video class="vde" width="420" id="video-player" src='https://player.vimeo.com/external/271851475.sd.mp4?s=1a5c9b2541b420c133ded968b7c042fda26a8c0e&profile_id=165' playsinline class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="400" height="250" data-setup='{}'></video>
				</div>

			</div>
		</div>
		<p class="vuetime">
			<i class="fa fa-eye" style="font-size: 20px"></i>
			<span>2K</span>

		</p>
	</section>

	<section
		class="video-a-la-une">
		<!-- Desc title -->
		<div class="title-desc">
			<div class="title-desc-avatar-container">
				<a href="">
					<img class="title-desc-avatar" alt="" src="{{ asset ('assets/images/belle.jpg')}}"/>
					| Ali Baba

				</a>
			</div>
			<a href="#">title des ange en con egdgd Nous leur demandons pardons de pasitonner</a>
			<p class="descript">description des choses Lorem description des choses Lorem description des choses Lorem
			</p>


		</div>
		<!-- Video content-->
		<div class='player-container'>
			<div class='player'>

				<div id="overlay"></div>
				<div id="video-container">
					<img class="vde" width="420" id="video-player" src="{{ asset ('assets/images/carousel1.jpg')}}"></video>
			</div>

		</div>
	</div>
	<p class="vuetime">
		<i class="fa fa-eye" style="font-size: 20px"></i>
		<span>2K</span>

	</p>
</section>

<section
	class="video-a-la-une">
	<!-- Desc title -->
	<div class="title-desc">
		<div class="title-desc-avatar-container">
			<a href="">
				<img class="title-desc-avatar" alt="" src=" {{ asset ('assets/images/belle.jpg')}}"/>
				| Ali Baba

			</a>
		</div>
		<a href="#">title des ange en con egdgd Nous leur demandons pardons de pasitonner</a>
		<p class="descript">description des choses Lorem description des choses Lorem description des choses Lorem
		</p>


	</div>
	<!-- Video content-->
	<p class="vuetime">
		<i class="fa fa-eye" style="font-size: 20px"></i>
		<span>2K</span>

	</p>
</section>{% endblock %}
