{% extends 'base.html.twig' %}
{% block title %}Ajouter un video!
{% endblock %}
{% block body %}
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href=" {{ asset('assets/css/home/home.css') }}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
		<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">


	{% endblock %}

	<!-- Debut  header bar -->

	<!-- Fin  header bar -->
	{% block header %}
		{% include "header/header.html.twig" %}
	{% endblock %}

	<!-- Breaknews-->

	<div class="breaking-news">
		<div class="wrapper">
			<strong class="br-title">Breaking</strong>
			<div class="br-article-list">
				<div class="br-article-list-inner">
					<div class="br-article">
						<a href="#0">Work From Home<strong>Grandmother Posts Photos Of Grandaughter's Recital, Earns $12,433</strong>
						</a>
						<a href="#" class="post-title-comment">
							<i class="po po-portus"></i>193</a>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Fin breaknews -->

	<!-- Info urgente-->
	<div class="home-header">
		<div class="flasher">
			<div class="infrared">
				<div class="flash1"></div>
			</div>
		</div>
		<div class="capture content">
			<img src="{{ asset ('assets/images/logo3.png')}}" alt="">
			<h5>URGENT</h5>

			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet porro veritatis ab voluptatibus 
																																																																																																																																																																																																																																																																																																																																																								laboriosam eos quo ducimus rerum doloremque culpa.
																																																																																																																																																																																																																																																																																																																																																								 Dicta aspernatur sit incidunt ratione. Eum quam distinctio at ut.</p>
		</div>

		<ul class="share-btn-container">
			<li class="facebook-share ">
				<a class="facebook-btn" href="http://www.facebook.com/sharer.php?u=http://www.example.com">
					<i class="fa fa-facebook-square" style="font-size:30px;color:blue" aria-hidden="true"></i>
				</a>

			</li>
			<li class="whats-share whatsapp-btn ">
				<a class="twitter-btn " href="">
					<i class="fa fa-whatsapp" style="font-size:30px;color:green"></i>
				</a>

			</li>
			<li>
				<a class="twitt-share" href="">
					<i class="fa fa-twitter" style="font-size:30px;color:blue " aria-hidden="true"></i>
				</a>


			</li>
			<li class="capt-image">
				<i class="fa fa-camera" style="font-size:30px;color:black" aria-hidden="true"></i>
			</li>
		</ul>
	</div>
	<!-- Fin  Info urgente-->

	<main class="main-content ">

		{% block home_aside %}
			{% include "main/home-aside.html.twig" %}
		{% endblock %}


		<div class="">
			{% block home_center_content %}
				{% include "main/home-center-content.html.twig" %}
			{% endblock %}
		</div>
		{% block list_right_side %}
			{% include "main/list-right-side.html.twig" %}
		{% endblock %}
	</main>

{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<!--- Video player -->

	<script>
		// ELEMENT SELECTORS
var player = document.querySelector(".player");
var video = document.querySelector("#video");
var playBtn = document.querySelector(".play-btn");
var volumeBtn = document.querySelector(".volume-btn");
var volumeSlider = document.querySelector(".volume-slider");
var volumeFill = document.querySelector(".volume-filled");
var progressSlider = document.querySelector(".progress");
var progressFill = document.querySelector(".progress-filled");
var textCurrent = document.querySelector(".time-current");
var textTotal = document.querySelector(".time-total");
var speedBtns = document.querySelectorAll(".speed-item");
var fullscreenBtn = document.querySelector(".fullscreen");

// GLOBAL VARS
let lastVolume = 1;
let isMouseDown = false;

// PLAYER FUNCTIONS
function togglePlay() {
if (video.paused) {
video.play();
} else {
video.pause();
} playBtn.classList.toggle("paused");
}
function togglePlayBtn() {
playBtn.classList.toggle("playing");
}

function toggleMute() {
if (video.volume) {
lastVolume = video.volume;
video.volume = 0;
volumeBtn.classList.add("muted");
volumeFill.style.width = 0;
} else {
video.volume = lastVolume;
volumeBtn.classList.remove("muted");
volumeFill.style.width = `${
lastVolume * 100
}%`;
}
}
function changeVolume(e) {
volumeBtn.classList.remove("muted");
let volume = e.offsetX / volumeSlider.offsetWidth;
volume < 0.1 ? (volume = 0) : (volume = volume);
volumeFill.style.width = `${
volume * 100
}%`;
video.volume = volume;
if (volume > 0.7) {
volumeBtn.classList.add("loud");
} else if (volume < 0.7 && volume > 0) {
volumeBtn.classList.remove("loud");
} else if (volume == 0) {
volumeBtn.classList.add("muted");
}
lastVolume = volume;
}
function neatTime(time) { // var hours = Math.floor((time % 86400)/3600)
var minutes = Math.floor((time % 3600) / 60);
var seconds = Math.floor(time % 60);
seconds = seconds > 9 ? seconds : `0${seconds}`;
return `${minutes}:${seconds}`;
}
function updateProgress(e) {
progressFill.style.width = `${
(video.currentTime / video.duration) * 100
}%`;
textCurrent.innerHTML = `${
neatTime(video.currentTime)
} / ${
neatTime(video.duration)
}`;
// textTotal.innerHTML = neatTime(video.duration);
// console.log(progressFill.style.width);
}
function setProgress(e) {
const newTime = e.offsetX / progressSlider.offsetWidth;
progressFill.style.width = `${
newTime * 100
}%`;
video.currentTime = newTime * video.duration;
}
function launchIntoFullscreen(element) {
if (element.requestFullscreen) {
element.requestFullscreen();
} else if (element.mozRequestFullScreen) {
element.mozRequestFullScreen();
} else if (element.webkitRequestFullscreen) {
element.webkitRequestFullscreen();
} else if (element.msRequestFullscreen) {
element.msRequestFullscreen();
}
}
function exitFullscreen() {
if (document.exitFullscreen) {
document.exitFullscreen();
} else if (document.mozCancelFullScreen) {
document.mozCancelFullScreen();
} else if (document.webkitExitFullscreen) {
document.webkitExitFullscreen();
}
}
var fullscreen = false;
function toggleFullscreen() {
fullscreen ? exitFullscreen() : launchIntoFullscreen(player);
fullscreen = ! fullscreen;
}
function setSpeed(e) {
console.log(parseFloat(this.dataset.speed));
video.playbackRate = this.dataset.speed;
speedBtns.forEach((speedBtn) => speedBtn.classList.remove("active"));
this.classList.add("active");
}
function handleKeypress(e) {
switch (e.key) {
case " ": togglePlay();
case "ArrowRight": video.currentTime += 5;
case "ArrowLeft": video.currentTime -= 5;
default:
return;
}
}
// EVENT LISTENERS
playBtn.addEventListener("click", togglePlay);
video.addEventListener("click", togglePlay);
video.addEventListener("play", togglePlayBtn);
video.addEventListener("pause", togglePlayBtn);
video.addEventListener("ended", togglePlayBtn);
video.addEventListener("timeupdate", updateProgress);
video.addEventListener("canplay", updateProgress);
volumeBtn.addEventListener("click", toggleMute);
window.addEventListener("mousedown", () => (isMouseDown = true));
window.addEventListener("mouseup", () => (isMouseDown = false));
// volumeSlider.addEventListener('mouseover', changeVolume);
volumeSlider.addEventListener("click", changeVolume);
progressSlider.addEventListener("click", setProgress);
fullscreenBtn.addEventListener("click", toggleFullscreen);
speedBtns.forEach((speedBtn) => {
speedBtn.addEventListener("click", setSpeed);
});
window.addEventListener("keydown", handleKeypress);
	</script>


	<!--- Partie Urgent et breaknews -->

	<script src="{{asset ('assets/script/home/homeCenter.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		// button connectez vous avant de commenter const button = document.querySelector(" .btn-join");
const modal = document.querySelector(" .overlay");
const close = document.querySelector(" .annuler");
button.addeventlistener(" click", function () {
modal.style.display = " block"
})
close.addeventlistener(" click", function () {
modal.style.display = " none"
})

document.body.addeventlistener(" click", function (e) {
if (e.target.classList[0] == " overlay") {
modal.style.display = " none"
}
});
	</script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://bitbillions.com/wp-content/themes/pagestheme/js/iscroll.min.js"></script><!--- Break news--><script src="https://codepen.io/atelierbram/pen/GWwPWx/"></script>
	<script>
		!function (e) {
"use strict";

function t() {
var e = 0;
jQuery(".br-article-list-inner", ".br-article-list").each(function () {
var t = jQuery(this),
a = e;
if (e += 1, t.find(".br-article").size() > 0) {
if (!i) 
return !1;



var h = (parseInt(t.find(".br-article").css("margin-right"), 10), parseInt(t.parent().css("width"), 10), t),
g = 0;
h.find(".br-article").each(function () {
g = g + parseInt(jQuery(this).width(), 10) + parseInt(jQuery(this).css("padding-right"), 10) + parseInt(jQuery(this).css("margin-right"), 10)
});
d[a] = g / 2,
c[a] && (jQuery(this).parent().parent().parent().addClass("isscrolling"), jQuery(".br-article-list-inner").eq(a).parent().parent().parent().attr("rel", a), t.find(".br-article").clone().appendTo(this), c[a] =! 1);
var y = d[a] + l[a];
Math.abs(y) <= Math.abs(s[a]) && o(a),
u[a] || (u[a] = setInterval(function () {
r(t, a)
}, n))
}
}),
setTimeout(function () {
new t
}, n)
}

function r(e, t) {
s[t] = s[t] - 1,
e.css("left", s[t] + "px")
}

function o(e) {
s[e] = 0,
jQuery(".br-article-list").eq(e).find(".br-article-list-inner").css("left", "0px")
}

function a(e, t) {
var r = document.createElement("CANVAS"),
o = r.getContext("2d"),
a = new Image;
return r.height = t,
r.width = e,
o.drawImage(a, 0, 0),
setTimeout(function () {
r = null
}, 10),
r.toDataURL("image/png")
}
var i = !0,
n = 40,
s = [
0,
0,
0,
0,
0,
0,
0,
0,
0,
0
],
l = [
0,
0,
0,
0,
0,
0,
0,
0,
0,
0
],
c = [
!0,
!0,
!0,
!0,
!0,
!0,
!0,
!0,
!0,
!0
],
u = [],
d = [
0,
0,
0,
0,
0,
0,
0,
0,
0,
0
];
Array.prototype.forEach2 = function (e) {
for (var t = this.length, r = 0; t > r; r++) 
e(this[r], r)





},
new t,
jQuery(document).on("ready", function () {
jQuery("[data-ot-css]", "body").toArray().forEach2(function (e) {
var t = jQuery(e);
t.attr("style", t.data("ot-css"))
});
var e = window.devicePixelRatio > 1;
if (e) {
jQuery(".retina-check", "body").toArray().forEach2(function (e) {
jQuery(e).addClass("go-retina")
});
jQuery("img[data-ot-retina]", "body").toArray().forEach2(function (e) {
var t = jQuery(e),
r = new Image;
return "" == t.data("ot-retina") ? !1 : (r.src = t.attr("src"), void jQuery(r).load(function () {
var e = jQuery(this);
t.attr("src", a(e[0].width, e[0].height)),
t.css({
"background-image": "url('" + t.data("ot-retina") + "')",
"background-size": "100% 100%",
"background-repeat": "none"
})
}))
})
}
//        jQuery("input[type=text]", ".search-nav").on("focus blur", function() {
//            var e = jQuery(this);
//            "" != e.val() ? e.addClass("active") : e.removeClass("active")
//        }),
//         jQuery(".short-tabs", "body").toArray().forEach2(function(e) {
//            var t = jQuery(e);
//            t.children("ul").children("li").eq(0).addClass("active"), t.children("div").eq(0).addClass("active")
//        }),
//         jQuery(".short-tabs > ul > li a", "body").on("click", function() {
//            var e = jQuery(this).parent();
//            return e.siblings(".active").removeClass("active"), e.addClass("active"), e.parent().siblings("div.active").removeClass("active"), e.parent().siblings("div").eq(e.index()).addClass("active"), !1
//        })
//         , jQuery(".accordion > div > a", "body").on("click", function() {
//            var e = jQuery(this).parent();
//            return e.hasClass("active") ? (e.removeClass("active").children("div").animate({
//                height: "toggle",
//                opacity: "toggle",
//                "padding-top": "toggle"
//            }, 300), !1) : (e.siblings("div").toArray().forEach2(function(e) {
//                var t = jQuery(e);
//                t.hasClass("active") && t.removeClass("active").children("div").animate({
//                    height: "toggle",
//                    opacity: "toggle",
//                    "padding-top": "toggle"
//                }, 300)
//            }), e.addClass("active").children("div").animate({
//                height: "toggle",
//                opacity: "toggle",
//                "padding-top": "toggle"
//            }, 300), !1)
//        }),
//         jQuery("button", ".photo-gallery-thumbs").on("click", function() {
//            var e = jQuery(this),
//                t = e.siblings(".photo-gallery-thumbs-inner").children(".item").eq(0),
//                r = e.siblings(".photo-gallery-thumbs-inner").data("thumbs-start-from");
//            if (e.hasClass("photo-gallery-nav-left")) r + 216 >= 0 ? (r = 0, e.siblings(".photo-gallery-thumbs-inner").removeClass("not-first").removeClass("is-last")) : (r += 216, e.siblings(".photo-gallery-thumbs-inner").removeClass("is-last"));
//            else if (e.hasClass("photo-gallery-nav-right")) {
//                var o = 86 * e.siblings(".photo-gallery-thumbs-inner").children(".item").size() - parseInt(jQuery(".photo-gallery-thumbs-inner", ".photo-gallery-thumbs").width(), 10); - 1 * o >= r - 216 ? o > 0 && (r = -1 * o, e.siblings(".photo-gallery-thumbs-inner").addClass("is-last")) : (r -= 216, e.siblings(".photo-gallery-thumbs-inner").addClass("not-first").removeClass("is-last"))
//            }
//            return t.css("margin-left", r + "px"), e.siblings(".photo-gallery-thumbs-inner").data("thumbs-start-from", r), !1
//        }),
//         jQuery(".lightbox", "body").on("click", function() {
//            var e = jQuery(this);
//            e.css("overflow", "hidden"), jQuery("body").css("overflow", "auto"), e.find(".lightcontent").fadeOut("fast"), e.fadeOut("slow")
//        }).children().on("click", function(e) {
//            return !1
//        }), jQuery(".lightbox .light-close", "body").on("click", function() {
//            return jQuery(".lightbox").click(), !1
//        })
});
var h = !1;
//    jQuery(window).on("scroll", function() {
//        var e = jQuery(".ot-menu-will-follow .main-menu-placeholder").parent(),
//            t = jQuery(".ot-menu-will-follow .is-now-following");
//        e.size() > 0 && jQuery(window).scrollTop() >= parseInt(e.offset().top, 10) + 280 ? e.addClass("smallify") : t.size() > 0 && jQuery(window).scrollTop() < parseInt(t.offset().top, 10) + 280 && t.removeClass("smallify"), e.size() > 0 && jQuery(window).scrollTop() >= parseInt(e.offset().top, 10) && 0 == h ? (h = !0, e.css({
//            height: e.children(".main-menu-placeholder").height()
//        }), e.addClass("is-now-following")) : t.size() > 0 && jQuery(window).scrollTop() < parseInt(t.offset().top, 10) && 1 == h && (h = !1, t.removeClass("is-now-following").css({
//            height: "auto"
//        }))
//     }), setTimeout(function() {
//         jQuery(".theiaStickySidebar", "body").parent().theiaStickySidebar({
//              additionalMarginTop: 30
//          })
//     }, 100),

jQuery(".breaking-news").on("mouseenter", function () {
var e = jQuery(this).attr("rel");
clearTimeout(u[e])
}).on("mouseleave", function () {
var e = jQuery(this).attr("rel");
u[e] = !1
}),
jQuery("[data-spacer-color]", "body").toArray().forEach2(function (e) {
var t = jQuery(e);
t.css({color: t.data("spacer-color"), "background-color": t.data("spacer-color")})
})
}(jQuery);
	</script><!-- Urgent --><script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
	<script>
		const mainWrappperDiv = document.querySelector(".capture");


const downloadImage = () => {
html2canvas(mainWrappperDiv, {
onrendered: function (canvas) {
var link = document.createElement("a");
document.body.appendChild(link);
link.download = "html_image.png";
link.href = canvas.toDataURL("image/png");
link.target = "_blank";
link.click();

// document.body.appendChild(canvas)
}
});
};

const downloadBtn = document.querySelector(".fa-camera");
downloadBtn.addEventListener("click", downloadImage);
	</script>
	<!-- Fin Breaknews et urgent -->
{% endblock %}
