{% extends 'base.html.twig' %}

{% block title %}Ajouter un video!
{% endblock %}


{% block body %}

	{% block stylesheets %}

		<style>
			/* This is purely for the demo */
			.container {
				max-width: 800px;
				margin: 0 auto;
			}
			.plyr {
				border-radius: 4px;
				margin-bottom: 15px;
			}
		</style>

	{% endblock %}

	<!-- Debut  header bar -->

	<!-- Fin  header bar -->
	<div class="container">
		<h1>{{video.title}}</h1>
		<div align="center" class="embed-responsive embed-responsive-16by9">


			<video id='video' autoplay loop controls='true'>
				<source src="{{ asset('uploads/videos/' ~ video.videoFilename) }}" type="video/mp4" alt="{{ video.title }}">


			</video>


		</div>

		<hr>

		<p>{{video.content |raw}}</p>
	</div>

{% endblock %}
{% block javascripts %}{% endblock %}
