@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700|Work+Sans:400,700,900");
body {
  font-family: "Titillium Web", sans-serif;
}

.red-text {
  color: red;
}

/*------------------------------------------------------------------
[Table of contents]

1. Header
2. Todays Events
3. Main Stories
4. More Stories
5. Records Box
6. Home Page Columns
7. Social Media Section
8. Footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Header ]
*/
header {
  background: #333;
  height: 75px;
}

.container {
  width: 95%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  margin: 0 0 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}

/*------------------------------------------------------------------
[2. Todays Events ]
*/
.todays-events {
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.todays-events ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.todays-events ul {
  overflow-y: scroll;
}

.todays-events ul li {
  list-style: none;
  display: flex;
  border-left: 1px solid #ddd;
}

.todays-events ul li a {
  width: 200px;
  max-width: 200px;
  height: 100%;
  flex-direction: column;
  text-decoration: none;
  font-size: 0.725em;
  color: #000;
}

.todays-events ul li:first-child {
  min-width: 120px;
  margin-left: 20px;
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  background: #f8f8f8;
}

.todays-events ul li:last-child a {
  border-right: 1px solid #ddd;
}

.todays-events ul li a .category {
  color: #666;
  background: #f8f8f8;
  display: flex;
  flex-direction: row;
  padding: 6px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.todays-events ul li a .category .cat-name {
  flex: 1;
}

.todays-events ul li a .category .time {
  flex: 1;
  text-align: right;
}

.away-team,
.home-team,
.todays-events ul li .host-school,
.todays-events ul li .tournament-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
}

.away-team {
  margin-top: 5px;
  margin-bottom: 3px;
}

.home-team {
  margin-bottom: 5px;
  margin-top: 2px;
}

.todays-events ul li .logo,
.todays-events ul li .host-school {
  height: 22px;
  width: 22px;
  background: #fff;
  margin-right: 5px;
}

.todays-events ul li .host-school,
.todays-events ul li .tournament-title {
  height: 28px;
}

.todays-events ul li .logo img,
.todays-events ul li .host-school img {
  max-width: 100%;
  max-height: 100%;
}

.todays-events ul li .score {
  justify-content: flex-end;
  text-align: right;
  flex: 1;
}

.todays-events ul li .record {
  color: #999;
}

.todays-events ul li .time {
  font-weight: bold;
}

.cross-country-title {
  overflow: hidden;
}

.team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
}

/*------------------------------------------------------------------
[3. Main Stories ]
*/
.news {
  margin-top: 40px;
}

.main-stories {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.featured-post {
  margin-left: -2.5%;
  margin-right: -2.5%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.featured-image {
  width: auto;
  height: auto;
  overflow: hidden;
  background-position: center center;
}

.featured-image img {
  max-width: 100%;
}

.featured-post-content {
  padding: 10px;
}

.scoreboard .tournament-title {
  background: #f8f8f8;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
}

.recent-news-story {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.recent-news-story-image {
  height: 150px;
  background: #eee;
  margin-bottom: 10px;
}

.recent-news-story h4 {
  margin: 0;
}

.recent-news-story a {
  text-decoration: none;
  color: #000;
}

.recent-news-story .category {
  color: #999;
}

@media screen and (min-width: 601px) {
  .featured-post {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ddd;
  }

  .recent-news-story {
    padding: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 999px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .main-stories {
    padding-bottom: 100px;
  }

  .featured-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-size: cover;
  }

  .featured-image img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-size: cover;
  }
}
@media screen and (min-width: 601px) {
  .stories {
    display: flex;
    justify-content: space-between;
  }

  .recent-news-story {
    width: 30%;
  }

  .recent-news-story-image {
    height: 90px;
  }

  .recent-news-story .category {
    display: block;
    margin-bottom: 4px;
    font-size: 0.6em;
  }

  .recent-news-story h4 {
    padding: 10px;
  }
}
/*------------------------------------------------------------------
[4. More Stories ]
*/
.more-stories {
  padding: 0;
  margin: 0;
}

.more-stories li {
  list-style: none;
  display: flex;
  padding-bottom: 20px;
  /*border-bottom: 1px solid #ddd; */
  margin-bottom: 10px;
}

.more-stories .category {
  height: 200px;
  width: 50%;
  display: flex;
  /* background: #eee; */
  margin-right: 20px;
}

.more-stories img {
  width: 100%;
}

.more-stories .box {
  height: 40px;
  width: 40px;
  background: #eee;
  display: flex;
}

.more-stories .box .abr {
  margin: auto;
  font-weight: bold;
}

.more-stories .content {
  flex-direction: column;
}

.more-stories small {
  display: block;
  margin-bottom: 5px;
}

.more-stories a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .more-stories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .more-stories li {
    width: 48%;
  }
}
@media screen and (min-width: 1000px) {
  .news {
    display: flex;
  }

  .main-stories {
    flex: 4;
    margin-right: 20px;
    padding-right: 20px;
    /* border-right: 1px solid #ddd; */
  }

  .more-stories {
    flex: 2;
  }
}
.records-box {
  /*background: url('https://s3.amazonaws.com/ukathletics.com/images/2017/10/28/fb_bowl_eligible_ad_1416x400.jpg') no-repeat; */
  background: #1e1136;
  background-size: cover;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  min-height: 50px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
  color: #ffcc00;
}

.records-box p {
  width: 80%;
  margin: 0 auto 20px auto;
  color: #fff;
}

.records-boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.records-boxes .box {
  width: 48%;
  border: 1px solid #fff;
  /*background: rgba(255,255,255,.8);*/
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #fff;
}

.records-boxes .box h1 {
  color: #ffcc00;
}

.records-boxes .box h1,
.records-boxes .box h4 {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .records-box {
    padding: 80px 0px;
  }

  .records-boxes {
    display: flex;
    justify-content: space-between;
  }

  .records-box .box {
    width: 18%;
  }
}
.home-page-columns {
  display: flex;
  flex-direction: column;
}

.home-page-columns .column {
  margin-bottom: 20px;
}

.home-page-columns .column h3 i {
  color: #ddd;
}

@media screen and (min-width: 768px) {
  .home-page-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
  }

  .home-page-columns .column {
    width: 30%;
  }
}
.social-media-section {
  padding: 40px 0;
  border-top: 1px solid #ddd;
  margin: 0;
}

.instagram-feed h1 {
  display: block;
}

.normal-font {
  font-weight: normal;
}

.instagram-feed ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.instagram-feed ul li {
  width: 48%;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  list-style: none;
}

.instagram-feed ul li img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .instagram-feed ul {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .instagram-feed ul li {
    width: 22%;
  }
}
.twitter-feed ul {
  padding: 20px;
  margin: 0 0 20px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.twitter-feed ul li {
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.twitter-feed ul li:last-child {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
}

.twitter-feed ul li a {
  color: #000;
  text-decoration: none;
}

.facebook-feed ul {
  padding: 20px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.facebook-feed ul li {
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.facebook-feed ul li:last-child {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
}

.facebook-feed ul li a {
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .lower-social-media-section {
    display: flex;
    justify-content: space-between;
  }

  .section {
    width: 48%;
  }

  .facebook-feed,
.twitter-feed {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .facebook-feed ul,
.twitter-feed ul {
    padding: 0px;
    margin: 0;
    border: none;
  }
}
.email-signup {
  background-color: rgba(255, 204, 0, 0.2);
  height: 150px;
}

footer {
  background: #482980;
  height: 200px;
}/*# sourceMappingURL=home.css.map */