body {
  margin: 50px;
}

ol.new {
  max-width: 800px;
}
ol.new li {
  list-style-type: upper-roman;
  padding: 5px;
}

.videoctn {
  width: 70%;
  .under-video {
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

video {
  margin-top: 10px;
  width: 100%;
  border: 2px solid black;
}
